* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "arial", sans-serif;
}

label {
  color: #ffffff;
}

p {
  color: rgb(51, 0, 255);
  width: 500px;
  height: 200px;
  border: 1px solid black;
  background-color: blue;
}

